# 忽略 Eclipse 工作區設定
.metadata/
*.log
*.index
*.tree
*.xmi
*.ini
.classpath
.project
.settings/
target/

# 忽略 Eclipse 插件設定
.metadata/.plugins/
.metadata/.plugins/org.eclipse.core.resources/
.metadata/.plugins/org.eclipse.e4.workbench/
.metadata/.plugins/org.eclipse.m2e.logback/
.metadata/.plugins/org.eclipse.ui.workbench/
.metadata/.plugins/org.eclipse.egit.ui/
.metadata/.plugins/org.eclipse.ui.ide/
.metadata/.plugins/org.eclipse.core.resources/.projects/
